<!DOCTYPE html>
<html>
  <head>
    <title>Embedded Chat Bot</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body onload="setUpChatbot()">
    <!-- Navbar -->
    <section class="w-full px-8 text-white bg-black">
      <div class="container-lg flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
          <div class="relative flex flex-col md:flex-row">
              <a href="#_" class="flex items-center mb-5 font-medium text-white lg:w-auto lg:items-center lg:justify-center md:mb-0">
                  <span class="mx-auto text-xl font-black leading-none text-white select-none">WA Orquestador </span>
              </a>
          </div>
          <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">
            <nav class="flex flex-wrap items-center mb-5 text-base md:mb-0 md:pl-8 md:ml-8">
              <a href="/" 
                class="mr-10 font-medium leading-6 transition duration-300 hover:underline"
                style="text-underline-offset: 8px;"> 
                  Home
              </a>
              <a href="./embedded" 
                class="mr-10 font-medium leading-6 transition duration-300 underline"
                style="text-underline-offset: 8px;">
                  Embedded Chatbot
              </a>
              <a href="./custom" 
                class="mr-10 font-medium leading-6 transition duration-300 hover:underline"
                style="text-underline-offset: 8px;">
                  Custom Chatbot
              </a>
            </nav>
          </div>
      </div>
    </section>

    <h1>Embedded Chat Bot</h1>

    <script>
      var wa_instance;
      function setUpChatbot(){
        console.log("<%= wa_integration_id %>");
        console.log("<%= wa_region %>");
        console.log("<%= wa_service_instance_id %>");
        window.watsonAssistantChatOptions = {
          integrationID: "<%= wa_integration_id %>", // The ID of this integration.
          region:  "<%= wa_region %>", // The region your integration is hosted in.
          serviceInstanceID: "<%= wa_service_instance_id %>", // The ID of your service instance.
          onLoad: function(instance) { 
            wa_instance = instance;
            instance.render();
          }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      }

      function messageChatbot( txt ){
        // https://web-chat.global.assistant.watson.cloud.ibm.com/docs.html?to=api-instance-methods#send
        var send_obj = { "input": { "message_type" : "text", "text" : "ASYNCRESPONSE " + txt } };
        wa_instance.send( send_obj, {} ).catch( function( error ) {
          console.error( "Sending message to chatbot failed" );
      });
    }
    </script>
    
    <script src="../socket.io/socket.io.js"></script>

    <script>
    const socket = io.connect( "<%= base_url %>" );

    socket.on( "asyncresult", function( data ){
        if( data.error_str || !data.result ){
            alert( JSON.stringify( data, null, 3 ) );
            return;
        }
        messageChatbot( data.result );
    });
    </script>
  </body>
</html>
